<p>
  <b>Keyword:</b>
  <%=h @scrap_xml.keyword_id %>
</p>

<p>
  <b>Xml file:</b>
  <%=h @scrap_xml.xml_file %>
</p>

<p>
  <b>Status:</b>
  <%=h @scrap_xml.status %>
</p>


<%= link_to 'Edit', edit_scrap_xml_path(@scrap_xml) %> |
<%= link_to 'Back', scrap_xmls_path %>