<p>
  <b>Keyword:</b>
  <%=h @scrap_photo.keyword_id %>
</p>

<p>
  <b>Scrap xml:</b>
  <%=h @scrap_photo.scrap_xml_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @scrap_photo.title %>
</p>

<p>
  <b>Url square:</b>
  <%=h @scrap_photo.url_square %>
</p>

<p>
  <b>Url thumbnail:</b>
  <%=h @scrap_photo.url_thumbnail %>
</p>

<p>
  <b>Url small:</b>
  <%=h @scrap_photo.url_small %>
</p>

<p>
  <b>Url medium:</b>
  <%=h @scrap_photo.url_medium %>
</p>

<p>
  <b>Url large:</b>
  <%=h @scrap_photo.url_large %>
</p>

<p>
  <b>Url original:</b>
  <%=h @scrap_photo.url_original %>
</p>

<p>
  <b>Description:</b>
  <%=h @scrap_photo.description %>
</p>

<p>
  <b>Author:</b>
  <%=h @scrap_photo.author %>
</p>

<p>
  <b>License:</b>
  <%=h @scrap_photo.license %>
</p>

<p>
  <b>Original:</b>
  <%=h @scrap_photo.original_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @scrap_photo.status %>
</p>

<p>
  <b>Selected photo:</b>
  <%=h @scrap_photo.selected_photo %>
</p>


<%= link_to 'Edit', edit_scrap_photo_path(@scrap_photo) %> |
<%= link_to 'Back', scrap_photos_path %>